<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Scientific Collector</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <script defer src="https://kit.fontawesome.com/7b3b8f7d0d.js" crossorigin="anonymous"></script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <header>
        <div class="theme-switch">
            <span class="icon sun">☀️</span>
            <label class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider round"></span>
            </label>
            <span class="icon moon">🌙</span>
        </div>
        <div class="search-container">
            <input type="text" id="search-input" class="search-box" placeholder="Search papers...">
        </div>
    </header>
    
    <section id="papers-container">
        {% for paper in papers %}
            <div class="paper-card small-paper">
                <h2>{{ paper.title }}</h2>
                <p><strong>Author:</strong> {{ paper.author }}</p>
                <p><strong>Published At:</strong> {{ paper.publishedAt }}</p>
                <p><strong>Journal:</strong> {{ paper.journal }}</p>
                <p>{{ paper.abstract }}</p>
                <a href="{{ paper.url }}" target="_blank">Read Full Paper</a>
            </div>
        {% endfor %}
    </section>
    <div class="pagination">
        {% if page > 1 %}
            <a href="/?page={{ page - 1 }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">Previous</a>
        {% endif %}
        {% if page < total_pages %}
            <a href="/?page={{ page + 1 }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">Next</a>
        {% endif %}
    </div>
    <button id="back-to-top" class="back-to-top">⏫</button>
</body>
</html>
